@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 10px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 9999px;
  border: 3px solid transparent;
  background-clip: content-box;
  transition: all 0.25s ease;
}

.sidebar-scroll:hover::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.22);
  background-clip: content-box;
}

.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
  background-clip: content-box;
}

@theme {

  /* ========= Brand ========= */
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-secondary: #3B82F6;
  --color-accent: #60A5FA;

  /* ========= Background ========= */
  --color-bg: #F8FAFC;
  --color-bg-card: #FFFFFF;
  --color-surface: #F1F5F9;
  --color-border: #E2E8F0;
  --color-border-hover: #CBD5E1;

  /* ========= Text ========= */
  --color-text-base: #0F172A;
  --color-text-secondary: #475569;
  --color-text-muted: #94A3B8;
  --color-text-inverse: #FFFFFF;

  /* ========= Semantic ========= */
  --color-success: #16A34A;
  --color-success-hover: #15803D;
  --color-success-bg: #DCFCE7;
  --color-success-bg-hover: #BBF7D0;

  --color-warning: #F59E0B;
  --color-warning-hover: #D97706;
  --color-warning-bg: #FEF3C7;
  --color-warning-bg-hover: #FDE68A;

  --color-error: #DC2626;
  --color-error-hover: #B91C1C;
  --color-error-bg: #FEE2E2;
  --color-error-bg-hover: #FECACA;

  /* ========= Roles ========= */
  --color-role-admin: #2563EB;
  --color-role-admin-bg: #DBEAFE;

  --color-role-instructor: #16A34A;
  --color-role-instructor-bg: #DCFCE7;

  --color-role-student: #F59E0B;
  --color-role-student-bg: #FEF3C7;
}

/* ====================================================== */
/*                     DARK THEME                         */
/* ====================================================== */

.dark {

  /* ========= Brand ========= */

  --color-primary: #3B82F6;
  --color-primary-hover: #2563EB;

  --color-secondary: #60A5FA;
  --color-accent: #93C5FD;

  /* ========= Background ========= */

  --color-bg: #0F172A;
  --color-bg-card: #162033;
  --color-surface: #1E293B;
  --color-border: #334155;
  --color-border-hover: #475569;

  /* ========= Text ========= */

  --color-text-base: #F8FAFC;
  --color-text-secondary: #CBD5E1;
  --color-text-muted: #94A3B8;
  --color-text-inverse: #0F172A;

  /* ========= Success ========= */

  --color-success: #22C55E;
  --color-success-hover: #16A34A;
  --color-success-bg: #075427;
  --color-success-bg-hover: #14532D;

  /* ========= Warning ========= */

  --color-warning: #FBBF24;
  --color-warning-hover: #F59E0B;
  --color-warning-bg: #78310b;
  --color-warning-bg-hover: #78350F;

  /* ========= Error ========= */

  --color-error: #F87171;
  --color-error-hover: #EF4444;
  --color-error-bg: #6a0909;
  --color-error-bg-hover: #7F1D1D;

  /* ========= Roles ========= */

  --color-role-admin: #60A5FA;
  --color-role-admin-bg: #172554;

  --color-role-instructor: #4ADE80;
  --color-role-instructor-bg: #052E16;

  --color-role-student: #FBBF24;
  --color-role-student-bg: #451A03;


}